* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 22%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.logo img {
    width: 35%;
    border: 3px solid white;
    border-radius: 50px;
    height: 17%;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.nav-list {
    width: 50%;
    display: flex;
    /* background-color:black; */
    align-items: center;
    /* border: 1px solid black; */
}

.nav-list li {
    list-style: none;
    padding: 26px 34px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Baloo Bhai 2', cursive;
}

.nav-list li a:hover {
    color: gray;
}

.rightNav {
    width: 50%;
    /* background-color: gray; */
    text-align: right;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 28px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('../img/bgpic2.jpg');
    background-size: cover;
    background-blend-mode: darken;
}


/* part-2 */

.firstsection {
    height: 100vh;
    /* background-color: yellow; */
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 70%;
}

.firsthalf {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondsection {
    width: 30%;
    padding: 0px 34px;
    margin-left: 23px;
}

.secondsection img {
    width: 184px;
    height: 171px;
    display: block;
    margin: auto;
    border: 2px solid white;
    border-radius: 684px;
}

.text-big {
    font-size: 40px;
    text-align: center;
    margin-right: 190px;
    font-family: 'Baloo Bhai 2', cursive;
}

.text-sm {
    font-size: 18px;
    font-family: 'Baloo Bhai 2', cursive;
    /* text-align: center; */
    /* margin-left: 18px; */
}

.btn {
    padding: 6px 10px;
    margin: 2px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
    background: none;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}

.btn-sm {
    /* vertical-align: middle; */
    padding: 5px 8px;
    top: 121px;
    /* border: 2px solid red; */
    margin: 18px 1px;
    font-size: 12px;
    margin-left: 10px;
}

.btn:hover {
    background: white;
    color: black;
}


/* part-3 */

.section {
    display: flex;
    height: 80%;
    margin: auto;
    padding: 1px 2px;
    align-items: center;
    justify-content: center;
    max-width: 1333px;
}


/* .para{
    padding: 40px 20px;
    margin: 12px 10px;
} */

.sideimg img {
    height: 180px;
    border: 2px solid black;
    margin: auto;
    width: 220px;
    display: flex;
    border-radius: 20px;
    margin-top: 49px;
}

.sectiontag {
    font-size: 33px;
    margin-right: 565px;
    font-family: 'Baloo Bhai 2', cursive;
}

.middle {
    flex-direction: row-reverse;
}


/* prat-4 */

.contactus {
    height: 450px;
    /* max-width: 500px; */
    background-color: floralwhite;
    border: 2px solid yellow;
    font-family: 'Baloo Bhai 2', cursive;
}

.text-center {
    text-align: center;
    padding: 20px;
    color: blue;
    font-size: 33px;
    font-family: 'Baloo Bhai 2', cursive;
}

.form {
    max-width: 344px;
    margin: auto;
    font-family: 'Baloo Bhai 2', cursive;
}

.form-input {
    width: 100%;
    font-size: 23px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding-left: 10px;
    font-family: 'Baloo Bhai 2', cursive;
}

.btn-dark {
    color: blue;
    border: 2px solid black;
    font-family: 'Baloo Bhai 2', cursive;
}

.footer {
    background-color: darksalmon;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    height: 30px;
    font-family: 'Baloo Bhai 2', cursive;
}

.burger {
    position: absolute;
    cursor: pointer;
    display: none;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 4px 5px;
}

@media only screen and (max-width:1100px) {
    .nav-list {
        flex-direction: column;
        /* margin: 10px 20px; */
    }
    .navbar {
        flex-direction: column;
    }
    .rightNav {
        text-align: center;
    }
    #search {
        width: 60%;
        margin-left: 36px;
    }
    .navbar {
        position: relative;
        height: 577px;
        transition: all 0.7s ease-out;
    }
    .burger {
        display: block;
        margin-right: 20px;
    }
    .h-nav {
        height: 55px;
    }
    .v-class {
        opacity: 0;
    }
    .text-big {
        font-size: 35px;
        justify-content: center;
        text-align: center;
        display: block;
        width: 300px;
        margin-left: -25px;
    }
    .logo img {
        width: 150px;
        height: 100px;
    }
    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
        height: 320px;
    }
    .section {
        flex-direction: column-reverse;
    }
    .secondsection img {
        margin-top: 223px;
        margin-left: -33px;
    }
    .text-sm {
        text-align: center;
    }
    .buttons {
        text-align: center;
    }
    .para {
        text-align: center;
        width: 82%;
        margin: 21px -382px;
    }
    .sectiontag {
        text-align: center;
        width: 90%;
    }
    .sectionsuntag {
        text-align: center;
    }
    .contactus {
        text-align: center;
        width: 95%;
    }
    .form-input {
        width: 73%;
    }
}
